<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <!-- Header-->
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card h-100">
                                <a th:href="'/item/' +${item.id}" class="text-dark">
                                    <!-- Product image-->
                                    <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}">
                                    <!-- Product details-->
                                    <div class="card-body">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">[[${item.itemNm}]]</h5>
                                            <!-- Product price-->
                                            <h7 class="card-title text-danger">[[${item.price}]]원</h7>
                                            <!-- Product detail-->
                                            <p class="card-text">[[${item.itemDetail}]]</p>
                                            <!-- Product actions-->
                                        </div>
                                    </div>
                                </a>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                href="/cart">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>
            </div>
        </div>
    </section>
    <!-- Sale badge-->
    <!--                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">-->
    <!--                    Sale-->
    <!--                </div>-->
    <!-- Product reviews-->
    <!-- Product actions-->
    <!-- Sale badge-->
    <!--                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">-->
    <!--                    Sale-->
    <!--                </div>-->


    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>
    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                   aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${items.number eq page - 1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page - 1}}"
                   th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}"
                   aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>